.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  border: 1px solid black;
  width: 100%;
  text-align: start;
  padding-left: 10px;
}

a {
  text-decoration: none;
}

.label {
  width: 250px;
  border-right: "3px solid black";
  font-weight: 600;
}

.blockAndTransaction {
  border-right: 1px dashed gray;
  padding-right: 15px;
}

.accountDetails {
  padding-left: 15px;
  text-align: start;
}

.accountInput {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 20px;
}

.accountInput > label {
  margin-bottom: 5px;
}

.accountInput > div {
  margin-bottom: 15px;
}